<mat-toolbar>
    <mat-toolbar-row>
      <div class="left">
        <span class="logo">BlaBla cart</span>
      </div>
  
      <div class="menu">
        <ul>
          <li>
            <button mat-icon-button>
              <app-cart></app-cart>
            </button>
          </li>
        
          <li>
            <button mat-icon-button>
              <mat-icon>person_outline</mat-icon>
            </button>
          </li>
          
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>