<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="changeCategory('Mens')">
        Mens
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="changeCategory('Womens')">
        Womens
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="changeCategory('Children')">
        Children
    </a>
</mat-nav-list>
<div class="dark-mode">
    Dark Mode
    <button mat-mini-fab color="primary" (click)="toggleDarkMode()">
        <mat-icon *ngIf="darkmode; else elseBlock">star_border</mat-icon>
        <ng-template #elseBlock><mat-icon>star</mat-icon></ng-template>
    </button>
</div>
